.step2Page {
  padding: 10px;
  height: 100%;
}

.digit-input {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  outline: 0;
  border-width: 0 0 2px;
  margin-right: 5px;
}

.next3-btn {
  margin-top: 20px;
}

.resend-sms {
  margin-top: 20px;
}
