.step2Page {
  height: 100%;
}

.digit-input {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  outline: 0;
  border-width: 0 0 2px;
  margin-right: 5px;
}

.icon-back {
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}
.resend-sms {
  margin-top: 20px;
}

.step2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sms-container {
  padding: 20px;
  h1 {
    color: #ffffff;
    font-weight: 800;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
  }
  .resend-sms {
    color: #ffffff;
  }
  .resend-sms-text {
    color: #e5c25d;
    font-weight: 800;
  }
}

.next-btn-div {
  padding-bottom: 60px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.12);
}

.next3-btn {
  width: 100%;
  height: 50px;
  background-color: #e5c25d;
  color: #1d3664;
  font-weight: 800;
  font-size: 16px;
  border-radius: 3px;
}


.sms-code-here {
  input {
    height: 40px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    font-size: 25px;
    border-bottom: 1px #ffffff solid;
    color: #ffffff;
    text-align: center;
    &:focus {
      border: none !important;
      border-bottom: 1px #e5c25d solid !important;
    }
  }

  input:focus {
    border: none !important;
    border-bottom: 1px #e5c25d solid !important;
  }
  
}
