<div class="step3Content">
  <ion-icon class="icon-back" routerLink="/registration/step1" name="arrow-back"></ion-icon>

  <div class="step3">

    <div class="profile-container">
      <h1>Profile</h1>
    
      <form [formGroup]="profileForm">
    
        <ion-list lines="none" no-padding class="step3-fields">
    
          <ion-list-header no-padding>Choose title (Optional)</ion-list-header>
    
          <ion-item no-padding>
            <div class="title-item">
              <ion-button class="title-btn" (click)="setUserTitle('Mr')" >Mr</ion-button>
              <ion-button class="title-btn" (click)="setUserTitle('Mrs')" >Mrs</ion-button>
              <ion-button class="title-btn" (click)="setUserTitle('Miss')" >Miss</ion-button>
              <ion-button class="title-btn" (click)="setUserTitle('Dr')">Dr</ion-button>
            </div>
          </ion-item>
    
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Name *</ion-label>
            <ion-input class="input-field password-input" placeholder="Your name" formControlName="name"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Surname *</ion-label>
            <ion-input class="input-field password-input" placeholder="Your surname" formControlName="surname"></ion-input>
          </ion-item>
          <!-- <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Country</ion-label>
            <ion-select placeholder="Select One" formControlName="country">
              <ion-select-option *ngFor="let country of countries; let index=index" [value]="country.id">{{country.title}}</ion-select-option>
            </ion-select>
          </ion-item> -->
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Email *</ion-label>
            <ion-input class="input-field password-input" placeholder='example@mail.com' type="email"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Password *</ion-label>
            <ion-input class="input-field password-input" placeholder='Enter password' type="password"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">Repeat password *</ion-label>
            <ion-input class="input-field password-input" placeholder='Enter password' type="password"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label position="stacked" class="input-label">NIN (optional)</ion-label>
            <ion-input class="input-field password-input" placeholder="Enter IIN" formControlName="iin"></ion-input>
          </ion-item>
    
        </ion-list>
      </form>
    </div>

    <div class="next-btn-div">
      <button class="next4-btn" routerLink="/registration/step4" color="light" style="width: 100%;">Next</button>
    </div>
  </div>

</div>
