.code-number {
  font-family: "Gotham Medium";
  font-size: 24pt;
  line-height: 28pt;
  border-bottom: 1pt solid #ffffff;
  width: 26pt;
  display: inline-block;
  align-items: center;
  margin-right: 10px;
}