<ion-header>
  <ion-toolbar>
    <ion-title>notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="market-data"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="push">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Push notifications</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="notices">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Market notices</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>



