<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{forgot_pass__title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div class="forgot-pass-content">

    <ion-list lines="none">
      <ion-item>
        <ion-text class="forgot_pass_text"><p>{{forgot_pass__tutorial1}}</p></ion-text>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="phoneNumber" placeholder="{{shared__phone_number}}"></ion-input>
      </ion-item>
      <ion-button color="light" class="page-btn" (click)="sendSms()" *ngIf="!smsSent" [disabled]="phoneNumber.length != 12">{{forgot_pass__receive_sms}}</ion-button>
      <ion-text *ngIf="smsSent && timer != 0">
        <span >отправить код повторно можно через {{timer}}</span>
      </ion-text>
      <ion-button color="light" class="page-btn" (click)="sendSms()" *ngIf="smsSent" [disabled]="timer != 0 || phoneNumber.length != 12">{{forgot_pass__send_sms_again}}</ion-button>
    </ion-list>

    <ion-list>
      <ion-item [disabled]="!smsSent">
        <ion-text class="forgot_pass_text" ><p>{{forgot_pass__tutorial2}}</p></ion-text>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="smsCode" placeholder="{{forgot_pass__enter_sms_code}}" [disabled]="!smsSent"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="pass1" placeholder="{{shared__new_pass}}" [disabled]="!smsSent"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="pass2" placeholder="{{shared__repeat_pass}}" [disabled]="!smsSent"></ion-input>
      </ion-item>
      <ion-button (click)="resetPassword()" color="light" class="page-btn" [disabled]="!smsSent || !(pass1 && pass1 === pass2 && smsCode === smsCode_real)">{{shared__save}}</ion-button>
    </ion-list>

  </div>



</ion-content>
