.forgot-pass-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .page-btn {
    width: 100%;
    margin-top: 20px;
  }
}


.forgot_pass_text {

}

ion-header::ng-deep {
  z-index: 0;
}
