.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-alternatives {
}

.login-fields { //ion-list
  padding: 0;
  flex: 3;
  display: block;
  margin: auto;
  max-width: 420px;
  width: 100%;
  ion-item {
    --border-width: 0;
  }

  ion-input::ng-deep {
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    border:1px solid rgba(255, 255, 255, .24);
    border-radius: 3px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;

  }

  .input-label {
    line-height: 24px;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .login-btn-item::ng-deep {
    --border-width: 0 !important;
    ion-button {
      margin-top: 20px;
      width: 100%;
      height: 50px;
    }
  }


}

