<ion-row style="border-bottom: 1px solid black">
  <ion-col>
    <ion-row>
      <span>Date {{trade.SettleDate | date : 'short'}}</span>
    </ion-row>
    <ion-row>
      <span>{{trade.BuyAccount}}</span>
    </ion-row>
    <ion-row>
      <span>Settled</span>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-row>
      <ion-col>
        <div class="sec-code" float-end>{{trade.Market}}</div>
        <div class="type" float-end>buy</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="amount" float-end>{{trade.Currency}}{{trade.Price}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="amount" float-end>{{trade.Quantity}}</span>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
