<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let d of data">
      <ion-checkbox [(ngModel)]="d['selected']" style="margin: 20px"></ion-checkbox>
      <ion-label>{{d['currency']}}</ion-label>
      <ion-label>{{d['secCode']}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
